html, main {
  max-width: 100%;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/** ESTIO MOBILE FIRST **/
/** 768px **/
@media screen and (min-width: 0px) and (max-width: 767px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img1 img2"  "img3 img4" "img5 img6"; } }

/** 1200px **/
@media screen and (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img1 img2 img3" "img4 img5 img6"; } }

/** ESTILOS NORMALES**/
/**HEADER**/
header {
  background-color: #003049; }

.header_size {
  height: 20vh;
  width: 100%; }

.ul_flex {
  display: flex;
  justify-content: center;
  list-style: none; }

.li_items {
  align-items: center;
  width: 25%;
  font-size: 30px; }

/**MAIN**/
main {
  background-color: #fdf0d5; }

.main_size {
  height: 60vh;
  width: 100%; }

.img_size-color1 {
  background-color: #f0f8ff;
  grid-area: img1; }

.img_size-color2 {
  background-color: #f0f8ff;
  grid-area: img2; }

.img_size-color3 {
  background-color: #f0f8ff;
  grid-area: img3; }

.img_size-color4 {
  background-color: #f0f8ff;
  grid-area: img4; }

.img_size-color5 {
  background-color: #f0f8ff;
  grid-area: img5; }

.img_size-color6 {
  background-color: #f0f8ff;
  grid-area: img6; }

/**FOOTER**/
footer {
  background-color: #c1121f; }

.footer_size {
  height: 20vh;
  width: 100%; }

/** EFECTOS **/
.efecto {
  background-image: linear-gradient(to left bottom, #8e4882, #d34e70, #f67343, #eaae00, #a8eb12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8e4882; }

/**Formulario de contacto**/
input[type=text], select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 4px;
  padding: 12px; }

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  padding: 20px; }

/**Card socios**/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

/**boton_carrito**/
.boton {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px; }

.estilo_boton {
  list-style: none;
  text-decoration: none; }

/**Imagen de inicio**/
.imagen_inicio {
  overflow-wrap: normal;
  display: flex;
  justify-content: center;
  align-content: center; }
